.contacts {
  padding: 33px 0;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 24px;
}

.contacts__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__item {
  display: flex;
  /*justify-content: space-between;*/
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
}

.contacts__field {
  display: flex;
  margin-right: 30px;
}

.contacts__text {
  /*display: table-cell;*/
}

.contacts__link {
  /*display: table-cell;*/
  font-weight: 500;
  border-bottom: 1px solid $font-light-mint;

  &:hover {
    color: $font-light-mint;
  }

  &:active {
    color: rgba($font-light-mint, 0.3);
    border-bottom: 1px solid rgba($font-light-mint, 0.3);
  }
}

.contacts__map {
  position: relative;
  /*@include container;*/
  margin-top: 40px;
  margin-bottom: 30px;
}

.contacts__btn {
  width: 100%;
}

@media (min-width:$break-tablet) {
  .contacts {
    padding: 60px 0 58px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }

  .contacts__title {
    margin: 0;
    position: relative;
    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      background: url("../img/flag.svg");
      right: 0;
      top: -16px;
    }
  }

  .contacts__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    /*width: 50%;*/
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__link {
    display: block;
    width: 210px;
    word-wrap: break-word;
  }

  .contacts__text {
    padding: 0;
    display: block;
    width: 210px;
    word-wrap: break-word;
  }

  /*.contacts__text br{
    display: none;
  }*/

  .contacts__field {
    display: block;
    padding: 0;
    min-width: 55px;
    margin-right: 24px;
    word-wrap: break-word;
  }

  .contacts__map {
    width: 768px;
    height: auto;
    margin: 52px auto 55px;

    &::after{
      top:36%;
      left: 45%;
    }
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width:$break-desktop) {
  .contacts {
    position: relative;
    padding-bottom: 107px;
    padding-top: 138px;
  }

  .contacts__wrapper {
    /*width: 300px;*/
    margin-left: 175px;
    margin-right: 50px;
    margin-bottom: 47px;
  }

  .contacts__item {
    margin-bottom: 30px;
  }

  .contacts__title {
    width: 525px;
    padding-left: 175px;
    box-sizing: border-box;
    font-size: 53px;
    line-height: 57px;

    &::after {
      left: 64px;
      top: -9px;
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    position: absolute;
    margin: 0;
    top: 67px;
    left: 50%;
  }

  .contacts__btn {
    margin-left: calc(50% - 350px);
  }
}
